.chart {
    &__tooltip {
        background-color: var(--color-tertiary);
        opacity: .85;
        padding: 10px;
        border-radius: 10px;
    }

    &__empty {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        opacity: .4;
    }
}
